{% extends "mhealth/base.html" %} {% block content %} {% load static %}

<!-- TESTKIT -->
<section class="testkit" id="testkit">
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="info-header mb-3">
          <h1 class="text-primary mt-5 pb-3">Covid 19 Home Test Kit</h1>
        </div>
        <p>
          Available in <strong>nasal</strong> and <strong>oral</strong> swab
          test
        </p>
      </div>
    </div>

    <!--Test kit 1-->
    <div class="row mx-auto container-fluid">
      <div class="tproduct text-center col-lg-3 col-md-4 col-12">
        <img
          class="img-fluid mt-3 mb-3"
          src="{% static 'mhealth/img/testkits/testkit1.jpg' %}"
          alt=""
        />
        <span>SEJOY</span>
        <h5 class="p-name">Covid-19 Saliva Self Test Kit</h5>
        <h4 class="p-price">RM5.90</h4>
        <button class="buy-button mb-3">Buy</button>
      </div>

      <!--Test kit 2-->

      <div class="tproduct text-center col-lg-3 col-md-4 col-12">
        <img
          class="img-fluid mt-3 mb-3"
          src="{% static 'mhealth/img/testkits/testkit2.jpg' %}"
          alt=""
        />
        <span>ICONIC Medicare</span>
        <h5 class="p-name">Covid Test Kit (Nasal swab/Oral fluid)</h5>
        <h4 class="p-price">RM9.90</h4>
        <button class="buy-button mb-3">Buy</button>
      </div>

      <!--Test kit 3-->

      <div class="tproduct text-center col-lg-3 col-md-4 col-12">
        <img
          class="img-fluid mt-3 mb-3"
          src="{% static 'mhealth/img/testkits/testkit3.jpg' %}"
          alt=""
        />
        <span>HONGYU</span>
        <h5 class="p-name">Covid Lollipop Test Kit</h5>
        <h4 class="p-price">RM7.90</h4>
        <button class="buy-button mb-3">Buy</button>
      </div>

      <!--Test kit 4-->

      <div class="tproduct text-center col-lg-3 col-md-4 col-12">
        <img
          class="img-fluid mt-3 mb-3"
          src="{% static 'mhealth/img/testkits/testkit4.jpg' %}"
          alt=""
        />
        <span>WHISTLING</span>
        <h5 class="p-name">Covid-19 Lollipop Self Test Kit</h5>
        <h4 class="p-price">RM8.90</h4>
        <button class="buy-button mb-3">Buy</button>
      </div>

      <!--Test kit 5-->

      <div class="tproduct text-center col-lg-3 col-md-4 col-12">
        <img
          class="img-fluid mt-3 mb-3"
          src="{% static 'mhealth/img/testkits/testkit5.jpg' %}"
          alt=""
        />
        <span>ARISTA</span>
        <h5 class="p-name">Covid-19 Nasal Self Test Kit</h5>
        <h4 class="p-price">RM9.90</h4>
        <button class="buy-button mb-3">Buy</button>
      </div>

      <!--Test kit 6-->

      <div class="tproduct text-center col-lg-3 col-md-4 col-12">
        <img
          class="img-fluid mt-3 mb-3"
          src="{% static 'mhealth/img/testkits/testkit6.jpg' %}"
          alt=""
        />
        <span>CAS ENVISION</span>
        <h5 class="p-name">Covid Test Kit (Nasal Swab/ Oral Swab)</h5>
        <h4 class="p-price">RM5.90</h4>
        <button class="buy-button mb-3">Buy</button>
      </div>

      <!--Test kit 7-->

      <div class="tproduct text-center col-lg-3 col-md-4 col-12">
        <img
          class="img-fluid mt-3 mb-3"
          src="{% static 'mhealth/img/testkits/testkit7.jpg' %}"
          alt=""
        />
        <span>LONGSEE</span>
        <h5 class="p-name">Covid-19 Saliva Self Test Kit</h5>
        <h4 class="p-price">RM6.90</h4>
        <button class="buy-button mb-3">Buy</button>
      </div>
      <!--Test kit 8-->

      <div class="tproduct text-center col-lg-3 col-md-4 col-12">
        <img
          class="img-fluid mt-3 mb-3"
          src="{% static 'mhealth/img/testkits/testkit8.jpg' %}"
          alt=""
        />
        <span>HONGYU</span>
        <h5 class="p-name">HONGYU Covid Self Test Kit</h5>
        <h4 class="p-price">RM6.90</h4>
        <button class="buy-button mb-3">Buy</button>
      </div>
    </div>
  </div>
</section>
<hr />

<section id="testkitFAQs">
  <h2 class="testfaq">Covid-19 Home Test Kit FAQs</h2>
</section>

{% endblock content %}
